.root {
    // Size and Position
    padding: 24px;

    // Background
    outline: 0;
    border: 2px solid var(--accent-300);
    background-color: var(--comp-400);

    // Text
    font-size: 24px;
    color: var(--accent-300);
    letter-spacing: 2px;

    &:hover {
        // Backround
        background-color: var(--comp-300);
        border-color: var(--accent-200);;

        // Text
        color: var(--accent-200);

        // Other
        cursor: pointer;
    }
}

.link_button {
    @extend .root;

    // Size and Position
    padding: 0;

    & > a {
        // Size and Position
        width: 100%;
        height: 100%;
        padding: 24px;
        display: block;
    }
}