.root {
    // Size and Position
    width: 100%;
    padding: 24px;
}

.control_panel {
    // Size and Position
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    width: 100%;
    min-width: 800px;

    // Flex
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    justify-content: center;
}

.flex_grow_1 {
    // Flex
    flex-grow: 1;
}

.content {
    // Size and Position
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-width: 1000px;
}

.counter {
    // Text
    font-size: 36px;
    color: var(--accent-400);
    word-spacing: 4px;
}

.current_file {
    // Size and Position
    margin-bottom: 18px;

    // Text
    text-align: center;
    letter-spacing: 2px;
}