.h2 {
    // Text
    font-size: 48px;
    font-weight: 400;
    color: var(--accent-400);
    letter-spacing: 2px;
}

.list {
    // Size and Position
    margin-bottom: 24px;
     
    // List
    list-style: none;
}

.list_element {
    // Size and Position
    margin: 12px 0px;

    // Background
    background-color: var(--primary-700);
    border: 2px solid var(--primary-500);

    &:hover {
        // Background
        background-color: var(--primary-600);
        border: 2px solid var(--primary-400);
    }

    & > a {
        // Size and Position
        padding: 12px 24px;
        width: 100%;
        height: 100%;
        display: block;

        // Text
        font-size: 24px;
        letter-spacing: 2px;
    }
}